@import 'base';
$text-color: orange;


@mixin box-shadow($color) {
  box-shadow: 3px 3px 4px 1px $color;
}

@mixin make-bold($bool) {
  @if $bool == true {
    font-weight: bold;
  }
}

@mixin text-effect($val) {
  @if $val == danger {
    color: red;
  }@else if $val == alert {
    color: rgb(138, 138, 2);
  }@else {
    color: black;
  }
}


body {
  background-color: #666;
}

.container {
  @include box-shadow(rgba(0,0,0,0.6));
  color: white;
  width: 200px;
  height: 200px;
  background-color: white;
  $text-color: blue;

  p {
    color: $text-color;
    @include make-bold(true);
    @include text-effect(alert);
  }
}